.classpath
.project
.settings
GWT development mode*
WebContent/META-INF
WebContent/VAADIN/widgetsets
WebContent/VAADIN/gwt-unitCache
build/classes
build/result
demo/target
demo/src/main/webapp/VAADIN/widgetsets
demo/src/main/webapp/VAADIN/gwt-unitCache
addon/target
addon/chromedriver.log